JELLYFIN_URL=http://jellyfin:8096
JELLYFIN_API_KEY=your-key-here

QBIT_URL=http://wireguard:8080
QBIT_USER=admin
QBIT_PASS=your-password-here

RADARR_URL=http://radarr:7878
RADARR_API_KEY=your-key-here

SONARR_URL=http://sonarr:8989
SONARR_API_KEY=your-key-here
